<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="/index.html">home</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/index.html">home</a>
				</li>			
			{% endif %}
			{% if page.path == "archive.html" %}
			<span class="title">
				<li>
					<a href="/archive.html">archive</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/archive.html">archive</a>
				</li>			
			{% endif %}
			{% if page.path == "category.html" %}
			<span class="title">
				<li>
					<a href="/category.html">category</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/category.html">category</a>
				</li>			
			{% endif %}
			{% if page.path == "about.html" %}
			<span class="title">
				<li>
					<a href="/about.html">about</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="/about.html">about</a>
				</li>			
			{% endif %}
		</div>
		<div class="description"> {{ site.motto }} </div>		
		<ul class="social-links">
			<li>
				<a href="https://twitter.com/{{ site.username }}" target="_blank" title="Twitter">
					<span class="icon-twitter"></span>
				</a>
			</li>
			<li>
				<a href="https://github.com/{{ site.username }}" target="_blank" title="Github">
					<span class="icon-github"></span>
				</a>
			</li>
			<li>
				<a href="https://dribbble.com/{{ site.username }}" target="_blank" title="Dribbble">
					<span class="icon-dribbble"></span>
				</a>
			</li>
			<li>
				<a href="mailto:{{ site.username }}@gmail.com" target="_blank" title="E-mail">
					<span class="icon-mail"></span>
				</a>
			</li>			
		</ul>		
	</div>
</header>
